# DRIVING TO SUCCESS

## Import Dependancies

In [2]:
import pandas as pd

## Import and Process Data

In [3]:
file_path = "Resources/vehicles.csv"
cars_df = pd.read_csv(file_path)
cars_df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [4]:
#Check the existing columns
cars_df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [10]:
#Drop unwanted columns
new_cars_df = cars_df[["price", "year", "manufacturer", "model", "odometer", "fuel", "transmission"]]
new_cars_df

,price,year,manufacturer,model,odometer,fuel,transmission
0,6000,NaN,NaN,NaN,NaN,NaN,NaN
1,11900,NaN,NaN,NaN,NaN,NaN,NaN
2,21000,NaN,NaN,NaN,NaN,NaN,NaN
3,1500,NaN,NaN,NaN,NaN,NaN,NaN
4,4900,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,maxima s sedan 4d,32226.0,gas,other
426876,30590,2020.0,volvo,s60 t5 momentum sedan 4d,12029.0,gas,other
426877,34990,2020.0,cadillac,xt4 sport suv 4d,4174.0,diesel,other
426878,28990,2018.0,lexus,es 350 sedan 4d,30112.0,gas,other
426879,30590,2019.0,bmw,4 series 430i gran coupe,22716.0,gas,other

In [11]:
new_cars_df = new_cars_df.dropna(how ='any')
#new_cars_df = new_cars_df.reset_index()
new_cars_df

,price,year,manufacturer,model,odometer,fuel,transmission
27,33590,2014.0,gmc,sierra 1500 crew cab slt,57923.0,gas,other
28,22590,2010.0,chevrolet,silverado 1500,71229.0,gas,other
29,39590,2020.0,chevrolet,silverado 1500 crew,19160.0,gas,other
30,30990,2017.0,toyota,tundra double cab sr,41124.0,gas,other
31,15000,2013.0,ford,f-150 xlt,128000.0,gas,automatic
...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,maxima s sedan 4d,32226.0,gas,other
426876,30590,2020.0,volvo,s60 t5 momentum sedan 4d,12029.0,gas,other
426877,34990,2020.0,cadillac,xt4 sport suv 4d,4174.0,diesel,other
426878,28990,2018.0,lexus,es 350 sedan 4d,30112.0,gas,other
426879,30590,2019.0,bmw,4 series 430i gran coupe,22716.0,gas,other

In [13]:
new_cars_df = new_cars_df.reset_index()
new_cars_df = new_cars_df[['price', 'year', 'manufacturer', 'model', 'odometer', 'fuel', 'transmission']]
new_cars_df

,price,year,manufacturer,model,odometer,fuel,transmission
0,33590,2014.0,gmc,sierra 1500 crew cab slt,57923.0,gas,other
1,22590,2010.0,chevrolet,silverado 1500,71229.0,gas,other
2,39590,2020.0,chevrolet,silverado 1500 crew,19160.0,gas,other
3,30990,2017.0,toyota,tundra double cab sr,41124.0,gas,other
4,15000,2013.0,ford,f-150 xlt,128000.0,gas,automatic
...,...,...,...,...,...,...,...
396329,23590,2019.0,nissan,maxima s sedan 4d,32226.0,gas,other
396330,30590,2020.0,volvo,s60 t5 momentum sedan 4d,12029.0,gas,other
396331,34990,2020.0,cadillac,xt4 sport suv 4d,4174.0,diesel,other
396332,28990,2018.0,lexus,es 350 sedan 4d,30112.0,gas,other
396333,30590,2019.0,bmw,4 series 430i gran coupe,22716.0,gas,other

In [14]:
new_cars_df = new_cars_df.rename(columns = {'price': 'Price',
                                            'year': 'Year',
                                            'manufacturer': 'Manufacturer',
                                            'model': 'Model',
                                            'odometer': 'Mileage',
                                            'fuel': 'Fuel',
                                            'transmission': 'Transmission'
                                            }
                                )
new_cars_df

,Price,Year,Manufacturer,Model,Mileage,Fuel,Transmission
0,33590,2014.0,gmc,sierra 1500 crew cab slt,57923.0,gas,other
1,22590,2010.0,chevrolet,silverado 1500,71229.0,gas,other
2,39590,2020.0,chevrolet,silverado 1500 crew,19160.0,gas,other
3,30990,2017.0,toyota,tundra double cab sr,41124.0,gas,other
4,15000,2013.0,ford,f-150 xlt,128000.0,gas,automatic
...,...,...,...,...,...,...,...
396329,23590,2019.0,nissan,maxima s sedan 4d,32226.0,gas,other
396330,30590,2020.0,volvo,s60 t5 momentum sedan 4d,12029.0,gas,other
396331,34990,2020.0,cadillac,xt4 sport suv 4d,4174.0,diesel,other
396332,28990,2018.0,lexus,es 350 sedan 4d,30112.0,gas,other
396333,30590,2019.0,bmw,4 series 430i gran coupe,22716.0,gas,other

In [1]:
 # Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
import requests
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service

In [2]:
#Now we try to do the static web-scrape, it used to work and produce a DataFrame of 12 cars, but it doesnt now for some reason
#It says Access Denied now, proper gutted, smh.

url = 'https://www.autotrader.co.uk/car-search?postcode=G72%208JD&year-to=2022&include-delivery-option=on&advertising-location=at_cars&page=1'
response = requests.get(url)
print(response)

soup = BeautifulSoup(response.text, 'html.parser')
print(soup)

name = []
price = []
year = []
body = []
miles = []
engine_volume = []
engine_power =[]
transmission = []
fuel = []

#Scrapping Time

name_results  = soup.find_all('h3', class_='product-card-details__title')
for i in range(len(name_results)):
    name_stripped = name_results[i].text.strip()
    #print(name_results[i].text.strip())
    name.append(name_stripped)
price_results = soup.find_all('div', class_='product-card-pricing__price')
for i in range(len(price_results)):
    price_stripped = price_results[i].text.strip()
    #print(price[i].text.strip())
    price.append(price_stripped)
specs1 = soup.find_all('ul', attrs={'class': 'listing-key-specs'})
for i in specs1:
    spec_stripped = i.text.strip()
    spec_splitted = spec_stripped.split("\n")
    year.append(spec_splitted[0])
    body.append(spec_splitted[1])
    miles.append(spec_splitted[2])
    engine_volume.append(spec_splitted[3])
    engine_power.append(spec_splitted[4])
    transmission.append(spec_splitted[5])
    fuel.append(spec_splitted[6])
    print("-------")
    print(name)
    print(price)
    print(year)
    print(body)
    print(miles)
    print(engine_volume)
    print(engine_power)
    print(transmission)
    print(fuel)
    print("-------")

<Response [403]>
<!DOCTYPE html>

<html lang="en-US">
<head>
<title>Access denied</title>
<meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
<meta content="noindex, nofollow" name="robots"/>
<meta content="width=device-width,initial-scale=1" name="viewport"/>
<link href="/cdn-cgi/styles/errors.css" media="screen" rel="stylesheet"/>
<script>
(function(){if(document.addEventListener&&window.XMLHttpRequest&&JSON&&JSON.stringify){var e=function(a){var c=document.getElementById("error-feedback-survey"),d=document.getElementById("error-feedback-success"),b=new XMLHttpRequest;a={event:"feedback clicked",properties:{errorCode:1020,helpful:a,version:4}};b.open("POST","https://sparrow.cloudflare.com/api/v1/event");b.setRequestHeader("Content-Type","application/json");b.setRequestHeader("Sparrow-Source-Key","c771f0e4b54944bebf4261d44bd79a1e");
b.send(JSON.stringify(a));c.classList.add("feedback-hidden");d.classList.remove("feedback-hidden")};document.addEventListener("DOMContentLoaded",function(){var a=document.getElementById("error-feedback"),c=document.getElementById("feedback-button-yes"),d=document.getElementById("feedback-button-no");"classList"in a&&(a.classList.remove("feedback-hidden"),c.addEventListener("click",function(){e(!0)}),d.addEventListener("click",function(){e(!1)}))})}})();
</script>
<script>
         (function(){if(document.addEventListener){var c=function(){var b=document.getElementById("copy-label");document.getElementById("plain-ray-id");if(navigator.clipboard)navigator.clipboard.writeText("73e6a3d5ae2576db");else{var a=document.createElement("textarea");a.value="73e6a3d5ae2576db";a.style.top="0";a.style.left="0";a.style.position="fixed";document.body.appendChild(a);a.focus();a.select();document.execCommand("copy");document.body.removeChild(a)}b.innerText="Copied"};document.addEventListener("DOMContentLoaded",
function(){var b=document.getElementById("plain-ray-id"),a=document.getElementById("click-to-copy-btn");"classList"in b&&(b.classList.add("hidden"),a.classList.remove("hidden"),a.addEventListener("click",c))})}})();
      </script>
<script defer="" src="https://performance.radar.cloudflare.com/beacon.js"></script>
</head>
<body>
<div class="main-wrapper" role="main">
<div class="header section">
<h1>
<span class="error-description">Access denied</span>
<span class="code-label">Error code <span>1020</span></span>
</h1>
<div class="large-font">
<p>You can not access www.autotrader.co.uk. Refresh the page or contact the site owner to request access.</p>
</div>
</div>
</div>
<div>
<div class="section know-more">
<h2 class="large-font">Troubleshooting information</h2>
<p>Copy and paste the Ray ID when you contact the site owner.</p>
<p class="ray-id-wrapper">
               Ray ID:
               <span class="plain-ray-id" id="plain-ray-id">
                  73e6a3d5ae2576db
               </span>
<button class="click-to-copy-btn hidden" id="click-to-copy-btn" title="Click to copy Ray ID" type="button">
<span class="ray-id">73e6a3d5ae2576db</span><span class="copy-label" id="copy-label">Copy</span>
</button>
</p>
<p>
            For help visit <a href="https://support.cloudflare.com/hc/articles/360029779472-Troubleshooting-Cloudflare-1XXX-errors?utm_source=1020_error#error1020" rel="noopener noreferrer" target="_blank">Troubleshooting guide</a>
<img alt="External link" class="external-link" src="/cdn-cgi/images/external.png" title="Opens in new tab"/>
</p>
</div>
<div class="clearfix footer section" role="contentinfo">
<div class="column">
<div class="feedback-hidden py-8 text-center" id="error-feedback">
<div class="footer-line-wrapper" id="error-feedback-survey">
        Was this page helpful?
        <button class="border border-solid bg-white cf-button cursor-pointer ml-4 px-4 py-2 rounded" id="feedback-button-yes" type="button">Yes</button>
<button class="border border-solid bg-white cf-button cursor-pointer ml-4 px-4 py-2 rounded" id="feedback-button-no" type="button">No</button>
</div>
<div class="feedback-success feedback-hidden" id="error-feedback-success">
        Thank you for your feedback!
    </div>
</div>
</div>
<div class="column footer-line-wrapper text-center">
               Performance &amp; security by <a href="https://www.cloudflare.com?utm_source=1020_error" rel="noopener noreferrer" target="_blank">Cloudflare</a>
<img alt="External link" class="external-link" src="/cdn-cgi/images/external.png" title="Opens in new tab"/>
</div>
</div>
</div>
</body>
</html>

In [3]:
#Zipping our lists into a DataFrame
zipped =list(zip(name, price, year,body,miles,engine_volume,engine_power,transmission,fuel))


df = pd.DataFrame(zipped, columns=['Name', 'Price', 'Year',"Body","Miles","Engine_volume","Engine_power","Transmission","Fuel"])
df

Empty DataFrame
Columns: [Name, Price, Year, Body, Miles, Engine_volume, Engine_power, Transmission, Fuel]
Index: []

In [4]:
#This is a Test Webdrive run, to see if it works. It does and should run a query on google search

driver = webdriver.Chrome()  
driver.maximize_window()  
#driver.delete_all_cookies() 
driver.get("https://www.google.com/")  
driver.find_element(By.ID,"W0wltc").click() 

driver.find_element(By.NAME,"q").send_keys("javascript")

driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/form/div[1]/div[1]/div[3]/center/input[1]").click()

In [6]:
#Now a tricky part: Im trying to open that website and close a Cookie Pop-up, easier said than done
#Code doesnt "see" the pop-up at all, nothing helps,
#a bunch of commented code are my attempts to try different ways of closing the pop-up

driver = webdriver.Chrome()  
driver.maximize_window()  



driver.get("https://www.autotrader.co.uk/car-search?postcode=G72%208JD&year-to=2022&include-delivery-option=on&advertising-location=at_cars&page=1")
#time.sleep(8)

    #I try to wait 20sec untill browser loads, but that doesnt help.

print("Lets try")
element = WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="notice"]/div[3]/div[2]/button[2]'))).click()


print("Congrats you've closed the cookie pop-up!")

#I tried using partial text for "Accept", still doesnt work.
#I strongly suspect that it was done so hard by design in order to avoid people scraping data
#driver.find_element(By.PARTIAL_LINK_TEXT,'Accept').click()
#driver.implicitly_wait(6)

    #This next line is to click the "Next Page" button on the website, I hope it makes sense

driver.find_element(By.XPATH,'/html/body/main/div[1]/section[2]/div/div/header/nav/ul/li[2]/a/i').click()
#driver.find_element(By.XPATH,'//*[@id="content"]/div/header/nav/ul/li[2]/a/i/svg/use').click()
print("next page")

Lets try

TimeoutException: Message:
Stacktrace:
Backtrace:
	Ordinal0 [0x009F78B3+2193587]
	Ordinal0 [0x00990681+1771137]
	Ordinal0 [0x008A41A8+803240]
	Ordinal0 [0x008D24A0+992416]
	Ordinal0 [0x008D273B+993083]
	Ordinal0 [0x008FF7C2+1177538]
	Ordinal0 [0x008ED7F4+1103860]
	Ordinal0 [0x008FDAE2+1170146]
	Ordinal0 [0x008ED5C6+1103302]
	Ordinal0 [0x008C77E0+948192]
	Ordinal0 [0x008C86E6+952038]
	GetHandleVerifier [0x00CA0CB2+2738370]
	GetHandleVerifier [0x00C921B8+2678216]
	GetHandleVerifier [0x00A817AA+512954]
	GetHandleVerifier [0x00A80856+509030]
	Ordinal0 [0x0099743B+1799227]
	Ordinal0 [0x0099BB68+1817448]
	Ordinal0 [0x0099BC55+1817685]
	Ordinal0 [0x009A5230+1856048]
	BaseThreadInitThunk [0x76E3FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77C17A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77C17A6E+238]